
body{
    background-color: rgb(236, 210, 144);
    font-family: Arial, Helvetica, sans-serif;
  }  
h1{
    padding: 10px;
    margin-left: 500px;
    margin-right: 500px;
    text-align: center;
    background-color:black;
    color: antiquewhite;
    display:flex;
    justify-content: center;
   
}
p{
    margin-left: 60px;
}
.grid_layout{
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10%;
    grid-template-rows: auto auto auto;
    justify-content: center;
    
    

    width: 90%;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(163, 233, 146);
    border: solid 1px black;
    
}
.caja{
    
    background-color: aqua;
    border: solid 1px black;
    text-align: center;
    padding: 20px;
    visibility: visible;
    
}  

.c1 img{max-width:3rem;}
.c2 img{max-width:2rem;}
.c3 img{width:2rem;}
.c4 img{width:2.5rem;}
.c5 img{width:2rem;}
.c6 img{width:2rem;}
.c7 img{width:1.5rem;}
.c8 img{width:1.5rem;}
.c9 img{width:2.5rem;}
.c10 img{width:2.5rem;}
.c11 img{width:2.5rem;}
.c12 img{width:3rem;}
.c13 img{width:2.5rem;}
.c14 img{width:2.5rem;}
.c15 img{width:2.5rem;}

.grid-botom{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    
    
}
.botom-1{
    margin: 10px;
}
.botom-2{
    margin:10px
}

   
